.container {
  width: 70rem;
  margin: 0 auto;
  padding: 5rem 5rem 0 5rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 4rem;
    color: #46009f;
  }
  code {
    padding: 2rem;
    background-color: #e1e1e1;
    border-radius: 0.5rem;
  }
  ol,
  ul {
    padding: 2rem;
  }
  p {
    margin: 2rem 0;
  }

  div {
    margin-bottom: 4rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-thickness: 0.2rem;
      &:hover {
        color: #46009f;
      }
    }
  }
}

.commentDiv {
  background-color: #e5e5e5;
  flex: 1;
  padding: 5rem 0;
  margin-top: 5rem;
}

.divider {
  width: 60rem;
  margin: 2rem auto;
  background-color: #e5e5e5;
  height: 0.2rem;
}
