.pageContainer {
  h1 {
    margin: 4rem 0;
    text-align: center;
    color: #46009f;
  }

  .blogsContainer {
    align-items: center;
    width: 60rem;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  width: fit-content;
  margin: 2rem auto;
  .linkButton {
    background-color: #46009f;
    color: white;
  }
  .number {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  .button {
    display: flex;
    width: fit-content;
    align-items: center;
  }

  .next {
    transform: rotate(180deg);
  }
}
